.jumbotron {
    background-image: url("books.jpg");
    background-size: cover;
    color: rgb(33, 63, 117);
    text-decoration: none;
}

.my-4{
    text-decoration: none;
    opacity: 0;
    border-top: 0px;
}

.jumbotron hr{
    border-top: 0px;

}


.btnText{
    color: white;
}
