.jumbotron {
    background-image: url("books.jpg");
    background-size: cover;
    color: rgb(33, 63, 117);
    text-decoration: none;
}

.my-4{
    text-decoration: none;
    opacity: 0;
    border-top: 0px;
}

.jumbotron hr{
    border-top: 0px;

}


.btnText1{
    color: white;
    background-color: #38C790;
    margin-right: 20px;
}

.btnText2{
    color: white;
    background-color: #38C790;
}

.btnText1:hover{
    color: white;
    background-color: rgb(33, 63, 117);
    margin-right: 20px;
}

.btnText2:hover{
    color: white;
    background-color: rgb(33, 63, 117);
}

img{
    width: 200px;
    padding-bottom: 10px;
}