.btnColor{
    background-color: #38C790;
    border: solid 2px #38C790;
    color: white;

}

.btnColor:hover{
    color: white;
    background-color: rgb(33, 63, 117);
    border: solid 2px rgb(33, 63, 117);
}